<link rel="stylesheet" href="../static/css/bootstrap.css">
<link href="../static/css/mycss.css" rel="stylesheet">


	
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>

<script src="../static/jquery/jquery-1.12.2.min.js"></script>

<script src="../static/js/bootstrap.min.js"></script>
  


