  <div class="menu">
    <ul class="nav navbar-nav navbar-right">
        <li id="menu_item" class="active"><a href="Home.php">Home</a></li>
        <li id="menu_item"><a href="About.php">About</a></li>
        <li id="menu_item">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           Login
           </a>
        <ul class="dropdown-menu">
            <li id="dropdown"><a href="{{url_for('clientLogin')}}"> Client Login</a></li>
            <li id="dropdown"><a href="{{url_for('teamMemberLogin')}}"> Team Member Login</a></li>
            <li id="dropdown"><a href="{{url_for('projectManagerLogin')}}"> Project Manager Login</a></li>
            <li id="dropdown"><a href="{{url_for('adminstratorLogin')}}"> Administrator Login</a></li>
        </ul>
        </li>
    	</ul>
    	<div class="clear"></div>
    </ul>
</div>

<div>
    <ul class="follow_icon">
    	<li><a href="#" style="opacity: 1;"><img src="../static/images/fb.png" alt=""></a></li>
     	<li><a href="#" style="opacity: 1;"><img src="../static/images/tw.png" alt=""></a></li>
     	<li><a href="#" style="opacity: 1;"><img src="../static/images/rss.png" alt=""></a></li>
   	</ul>
   	<div class="clear"></div>
</div>